* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-family: "Noto Sans", sans-serif;
    font-size: 18px;
    line-height: 2em;
    text-align: center; }

#wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap; }

#topper {
    display: flex;
    align-items: baseline;
    flex-direction: row; }

#header {
    width: 60%; }

#header h1 {
    color: #003459;
    font-weight: 700; }

#tag {
    width: 40%;
    text-align: left; }

#tag a:hover {
    color: #003459; }

ul {
    list-style: none;}

li {
    margin-right: 1em;
    display: inline-block;  }

#search-bar {
    width: 100%;
    background-color: #00A8E8; }

form {
    width: 50%;
    margin: 3em auto;
    text-align: center; }

input[type="text"], input[type="submit"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #000;
    padding: 0.5em 2em;
    border: 1px solid #fff;
    border-radius: 32px;
    background-color: #fff;
    text-align: center;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box; }

input[type="text"] {
    width: 100%; }

input[type="text"]::placeholder {
    font-style: italic; }

input[type="submit"] {
    width: 50%;
    color: #fff;
    font-weight: 700;
    border-color: #003459;
    background-color: #003459; }

#data, #results {
    width: 100%;
    text-align: center;
    font-weight: 700;
    background-color: white; }

#data { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%; }

.item {
    margin: 2em auto;
    padding: 2em;
    width: 25%;
    font-weight: 400;
    border: 1px solid #EEE;
    box-shadow: 4px 4px 4px #EEE; }

.item h1 {
    font-size: 24px;
    font-weight: 700;
    color: #003459; }

.label {
    font-weight: 700;
    color: #003459; }

#footer {
    width: 100%;
    text-align: center;
    font-size: 16px;
    color: #fff;
    background-color: #003459; }

#info p, #info a {
    font-size: 14px; }

a {
    color: #00A8E8;
    transition: 0.2s ease; }

a:hover {
    color: #FFF;}

p {
    margin: 2em; }

.example {
    margin: 0 !important;
    margin-bottom: 1em !important;
    color: #fff;
    font-size: 14px;
    letter-spacing: 0.05em; }

@media (max-width: 768px) {
    * {
        line-height: 2em; }
    #topper {
        margin-top: 2em;
        flex-direction: column;
        align-items: center; }
    #header, #tag, #info {
        margin: 0 auto;
        width: calc( 90% - 1em ); }
    p {
        margin: 1em auto; }
    #form {
        width: calc( 90% - 1em ); }
    .item {
        width: 100%;
        border-left: 0px; 
        border-right: 0px;
        box-shadow: 0px 4px 4px #EEE; }
    li {
        margin-right: 0em; }
}